In [57]:
# import dependencies
import numpy as np
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plotty
import missingno as msno

from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
%matplotlib inline

# Data Preparation

In [ ]:
# price_paid               int64 [233500, 270000, 176000, 450000, 440000]
# money, possibly look into normalizing
# deed_date               object ['05/07/2017', '05/07/2017', '05/07/2017', '05/07/2017', '05/07/2017']
# date object convert to timestamp and then add days since value
# property_type           object ['F', 'T', 'O', 'S', 'D']
# categorical data perform label encoder
# new_build               object ['N', 'Y']
# categorical data perform label encoder
# estate_type             object ['L', 'F']
# categorical data perform label encoder
# district                object ['TOWER HAMLETS', 'CITY OF LONDON', 'HACKNEY', 'HARROW', 'WALTHAM FOREST']
# categorical data perform label encoder
# transaction_category    object ['A', 'B']
# categorical data perform label encoder

In [64]:
# Load the datasets
pricing_df = pd.read_csv('../data/raw/01_06_2014_until_04_06_2019.csv')
# We can load the 1gb master csv of postcode data into memory with pandas
postcode_df = pd.read_csv('../data/raw/NSPL_MAY_2019_UK.csv', low_memory=False)

In [67]:
left = pricing_df
right = postcode_df
merged = pd.merge(left, right, how='left', left_on='postcode', right_on='pcd')
# filename = '../data-science/summative-assignment/data/interim/left_merged.csv'
# merged.to_csv(filename, encoding='utf-8', index=False)
merged.shape

(345551, 57)

In [77]:
df = merged

False

In [ ]:
# Check for duplicate values
df.duplicated().any()

In [74]:
# remove property type other
df[df['property_type'] != 'O']

(325379, 57)

In [ ]:
# lat long
# Remove outliers
df = df.loc[(df['price_paid'] < (1000000)) & (df['price_paid'] > (10000))]


# Convert the date object type to... timestamp
df['time_stamp'] = pd.to_datetime(df['deed_date'])
# Create features for year and month
df['year'] = df['time_stamp'].dt.year
df['month'] = df['time_stamp'].dt.month
# create a lambda to give days since
days_since = lambda x: x - df.time_stamp.min()
# apply the lambda on time_stamp, writing to new column
df['days_since'] = df['time_stamp'].map(days_since)
# encode the 'days since' and write to new column
df['days_since_encoded'] = df['days_since'].dt.days
# Setting the index to timestamp for time series operations
df.index = df['time_stamp']
# Dropping unnecessary column
df.drop(['time_stamp'], axis=1)


# round to the nearest thousand £
df.price_paid.round(decimals=3)

df.dropna()

df.drop(['unique_id', 'paon', 'saon', 'linked_data_url', 'street', 'locality', 'county', 'town', 'postcode'], axis=1)

df['property_type_encoded'] = df[['property_type']].apply(preprocessing.LabelEncoder().fit_transform)
df['new_build_encoded'] = df[['new_build']].apply(preprocessing.LabelEncoder().fit_transform)
df['estate_type_encoded'] = df[['estate_type']].apply(preprocessing.LabelEncoder().fit_transform)
df['transaction_category_encoded'] = df[['transaction_category']].apply(preprocessing.LabelEncoder().fit_transform)

In [ ]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [11]:
# subset - district days since time series latlon outliers removed

,price_paid,deed_date,property_type,new_build,estate_type,district,transaction_category,price_log,property_type_encoded,new_build_encoded,estate_type_encoded,transaction_category_encoded,time_stamp,year,month,days_since,days_since_encoded
time_stamp,,,,,,,,,,,,,,,,,
2017-01-25,301000,25/01/2017,O,N,F,CROYDON,B,12.614866,2,0,0,1,2017-01-25,2017,1,1115 days,1115
2017-04-28,373500,28/04/2017,F,N,L,CROYDON,A,12.830673,1,0,1,0,2017-04-28,2017,4,1208 days,1208
2015-02-10,353000,02/10/2015,F,N,L,CROYDON,A,12.774223,1,0,1,0,2015-02-10,2015,2,400 days,400
2015-02-20,350000,20/02/2015,F,N,L,CROYDON,A,12.765688,1,0,1,0,2015-02-20,2015,2,410 days,410
2014-05-09,362500,05/09/2014,F,N,L,CROYDON,A,12.800780,1,0,1,0,2014-05-09,2014,5,123 days,123
2017-12-19,845000,19/12/2017,S,N,F,CROYDON,A,13.647092,3,0,0,0,2017-12-19,2017,12,1443 days,1443
2017-06-12,302000,06/12/2017,F,N,L,CROYDON,B,12.618182,1,0,1,1,2017-06-12,2017,6,1253 days,1253
2014-12-09,250000,12/09/2014,F,N,L,CROYDON,A,12.429216,1,0,1,0,2014-12-09,2014,12,337 days,337
2014-12-06,282500,12/06/2014,F,N,L,CROYDON,A,12.551434,1,0,1,0,2014-12-06,2014,12,334 days,334
2017-08-18,368000,18/08/2017,F,N,L,CROYDON,A,12.815838,1,0,1,0,2017-08-18,2017,8,1320 days,1320
2015-10-27,333000,27/10/2015,F,N,L,CROYDON,A,12.715898,1,0,1,0,2015-10-27,2015,10,659 days,659
2019-11-01,227500,11/01/2019,F,N,L,CROYDON,A,12.334906,1,0,1,0,2019-11-01,2019,11,2125 days,2125
2016-10-18,335000,18/10/2016,F,N,L,CROYDON,A,12.721886,1,0,1,0,2016-10-18,2016,10,1016 days,1016
2018-09-17,350000,17/09/2018,F,N,L,CROYDON,A,12.765688,1,0,1,0,2018-09-17,2018,9,1715 days,1715
2016-03-31,309995,31/03/2016,F,N,L,CROYDON,A,12.644311,1,0,1,0,2016-03-31,2016,3,815 days,815
2014-05-12,250000,05/12/2014,F,N,L,CROYDON,A,12.429216,1,0,1,0,2014-05-12,2014,5,126 days,126
2017-02-28,340000,28/02/2017,F,N,L,CROYDON,A,12.736701,1,0,1,0,2017-02-28,2017,2,1149 days,1149
2014-11-21,250000,21/11/2014,F,N,L,CROYDON,A,12.429216,1,0,1,0,2014-11-21,2014,11,319 days,319
2017-04-24,530500,24/04/2017,F,N,L,CROYDON,A,13.181575,1,0,1,0,2017-04-24,2017,4,1204 days,1204
2014-06-06,350000,06/06/2014,F,N,L,CROYDON,A,12.765688,1,0,1,0,2014-06-06,2014,6,151 days,151
2017-04-21,494950,21/04/2017,F,N,L,CROYDON,A,13.112212,1,0,1,0,2017-04-21,2017,4,1201 days,1201
2016-03-31,190000,31/03/2016,F,N,L,CROYDON,A,12.154779,1,0,1,0,2016-03-31,2016,3,815 days,815
2017-05-19,550000,19/05/2017,F,N,L,CROYDON,A,13.217674,1,0,1,0,2017-05-19,2017,5,1229 days,1229
2018-07-25,342000,25/07/2018,F,N,L,CROYDON,A,12.742566,1,0,1,0,2018-07-25,2018,7,1661 days,1661
2015-12-18,495000,18/12/2015,F,N,L,CROYDON,A,13.112313,1,0,1,0,2015-12-18,2015,12,711 days,711
2017-08-25,242000,25/08/2017,F,N,L,CROYDON,A,12.396693,1,0,1,0,2017-08-25,2017,8,1327 days,1327
2016-07-28,357500,28/07/2016,F,N,L,CROYDON,A,12.786891,1,0,1,0,2016-07-28,2016,7,934 days,934
2016-06-17,355000,17/06/2016,F,N,L,CROYDON,A,12.779873,1,0,1,0,2016-06-17,2016,6,893 days,893
2016-06-22,296500,22/06/2016,F,N,L,CROYDON,A,12.599802,1,0,1,0,2016-06-22,2016,6,898 days,898
2017-01-20,381000,20/01/2017,F,N,L,CROYDON,A,12.850555,1,0,1,0,2017-01-20,2017,1,1110 days,1110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-06,650000,02/06/2017,T,N,F,CROYDON,A,13.384728,4,0,0,0,2017-02-06,2017,2,1127 days,1127
2014-12-12,360000,12/12/2014,T,N,F,CROYDON,A,12.793859,4,0,0,0,2014-12-12,2014,12,340 days,340
2016-03-30,299950,30/03/2016,T,N,F,CROYDON,B,12.611371,4,0,0,1,2016-03-30,2016,3,814 days,814
2017-10-11,320000,10/11/2017,F,N,L,CROYDON,A,12.676076,1,0,1,0,2017-10-11,2017,10,1374 days,1374
2016-05-18,570000,18/05/2016,T,N,F,CROYDON,A,13.253392,4,0,0,0,2016-05-18,2016,5,863 days,863
2018-05-24,320000,24/05/2018,F,N,L,CROYDON,A,12.676076,1,0,1,0,2018-05-24,2018,5,1599 days,1599
2017-11-08,335000,11/08/2017,F,N,L,CROYDON,A,12.721886,1,0,1,0,2017-11-08,2017,11,1402 days,1402
2017-03-15,475000,15/03/2017,T,N,F,CROYDON,B,13.071070,4,0,0,1,2017-03-15,2017,3,1164 days,1164
2018-07-26,325000,26/07/2018,T,N,L,CROYDON,A,12.691580,4,0,1,0,2018-07-26,2018,7,1662 days,1662
2018-02-03,375000,02/03/2018,F,N,L,CROYDON,A,12.834681,1,0,1,0,2018-02-03,2018,2,1489 days,1489
2015-06-18,331150,18/06/2015,F,N,L,CROYDON,A,12.710327,1,0,1,0,2015-06-18,2015,6,528 days,528
2014-08-29,168750,29/08/2014,F,N,L,CROYDON,A,12.036174,1,0,1,0,2014-08-29,2014,8,235 days,235
2017-04-05,283000,04/05/2017,S,N,L,CROYDON,B,12.553202,3,0,1,1,2017-04-05,2017,4,1185 days,1185
2016-12-19,260000,19/12/2016,S,N,L,CROYDON,B,12.468437,3,0,1,1,2016-12-19,2016,12,1078 days,1078
2015-10-21,380248,21/10/2015,D,N,F,CROYDON,A,12.848579,0,0,0,0,2015-10-21,2015,10,653 days,653
2015-10-21,380255,21/10/2015,D,N,F,CROYDON,A,12.848597,0,0,0,0,2015-10-21,2015,10,653 days,653
2016-12-16,485000,16/12/2016,T,N,F,CROYDON,A,13.091904,4,0,0,0,2016-12-16,2016,12,1075 days,1075
2017-11-23,420000,23/11/2017,T,N,F,CROYDON,B,12.948010,4,0,0,1,2017-11-23,2017,11,1417 days,1417
2014-04-12,380000,04/12/2014,T,N,F,CROYDON,A,12.847927,4,0,0,0,2014-04-12,2014,4,96 days,96
2015-11-09,810000,11/09/2015,T,N,F,CROYDON,A,13.604790,4,0,0,0,2015-11-09,2015,11,672 days,672
2018-03-26,11000,26/03/2018,O,N,L,CROYDON,B,9.305651,2,0,1,1,2018-03-26,2018,3,1540 days,1540
2016-08-15,475000,15/08/2016,O,N,L,CROYDON,B,13.071070,2,0,1,1,2016-08-15,2016,8,952 days,952
2018-02-28,455000,28/02/2018,O,N,L,CROYDON,B,13.028053,2,0,1,1,2018-02-28,2018,2,1514 days,1514
2016-09-19,530000,19/09/2016,O,N,L,CROYDON,B,13.180632,2,0,1,1,2016-09-19,2016,9,987 days,987
2016-12-07,12000,12/07/2016,O,N,L,CROYDON,B,9.392662,2,0,1,1,2016-12-07,2016,12,1066 days,1066
2017-12-22,20000,22/12/2017,O,N,L,CROYDON,B,9.903488,2,0,1,1,2017-12-22,2017,12,1446 days,1446
2017-11-09,250000,11/09/2017,O,N,L,CROYDON,B,12.429216,2,0,1,1,2017-11-09,2017,11,1403 days,1403
2019-12-04,17000,12/04/2019,O,N,F,CROYDON,B,9.740969,2,0,0,1,2019-12-04,2019,12,2158 days,2158
2017-11-17,15000,17/11/2017,O,N,F,CROYDON,B,9.615805,2,0,0,1,2017-11-17,2017,11,1411 days,1411
2017-12-13,16000,13/12/2017,O,N,F,CROYDON,B,9.680344,2,0,0,1,2017-12-13,2017,12,1437 days,1437

# Comparing Various Models

In [55]:
# Split data into predictors X and output Y
predictors = ['days_since_encoded']
X = df[predictors]
y = df['price_paid']
# Split 80/20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
# prepare models
df = unpickled
models = []

models.append(('LR', LinearRegression()))
models.append(('PER', Perceptron()))
models.append(('LA', Lasso()))
models.append(('DTR', DecisionTreeRegressor()))
models.append(('RFR', RandomForestRegressor()))
models.append(('GPR', GaussianProcessRegressor()))
models.append(('SVR', SVR()))
models.append(('ABR', AdaBoostRegressor()))

# results = []
names = []

# evaluate each model in turn
for name, model in models:
    model.fit(X, y)
    y_pred = model.predict(X_test)
    score = model.score(X, y)
    # Evaluate the performance of the algorithm with metrics
    # Mean Absolute Error
    mae = metrics.mean_absolute_error(y_test, y_pred)
    # Mean Squared Error
    mse = metrics.mean_squared_error(y_test, y_pred)
    # Root Mean Squared Error
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
    msg = "%s: %f, mae: %f, mse: %f, rmse: %f" % (name, score, mae, mse, rmse)
    print(msg)

# # boxplot algorithm comparison ##
# fig = plotty.figure()
# fig.suptitle('Algorithm Comparison')
# ax = fig.add_subplot(111)
# plotty.boxplot(results)
# ax.set_xticklabels(names)
# plotty.show()

LR: 0.039963, mae: 113872.068191, mse: 22101559013.093288, rmse: 148665.930909
PER: 0.000371, mae: 290186.670065, mse: 101226717576.423538, rmse: 318161.464631
LA: 0.039963, mae: 113872.068291, mse: 22101559013.596973, rmse: 148665.930911
DTR: 0.274004, mae: 98452.641995, mse: 17419098714.415501, rmse: 131981.433219
RFR: 0.247033, mae: 101830.287645, mse: 18169989513.280945, rmse: 134796.103480
GPR: 0.274004, mae: 98452.645342, mse: 17419089520.866940, rmse: 131981.398390
SVR: -0.022830, mae: 116270.677055, mse: 23461384913.474060, rmse: 153171.096861
ABR: -0.068060, mae: 128213.113324, mse: 24889382707.543934, rmse: 157763.692615